body {
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center; 
    
    background-color: #f4f4f4;
}

.content {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.friendCode {
    word-break: break-all; /* Allows the string to break at any character */
    overflow-wrap: break-word; /* A fallback to ensure it stays in bounds */
    
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    min-width: 100px;
}

.friendCodeContainer {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
}

.friendCodeContainer h3 {
    margin-bottom: 0%;
}

.friendCodeContainer p {
    margin-bottom: 0%;
}

.friendCodeContainer img {
    width: 25%;
    min-width: 200px;
}