body {
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center; 
    
    background-color: #f4f4f4;
}

.creatorButtonWrapper {
    display: block;
    text-decoration: none;
    color: inherit;

    position: relative;
    width: 95%;
    max-width: 500px;
    min-width: 320px;
    min-height: 140px;

    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 12px;
    transition: background-color 1s ease;
    cursor: pointer;
}


.blueButtonWrapper {
    background-color: #264aff;
}

.magentaButtonWrapper {
    background-color: #e226ff;
}

.greyButtonWrapper {
    background-color: #888888;
}

.greyButtonWrapper:hover {
    background-color: #ffffff;
}

.greyButtonWrapper:hover .creatorButtonText {
    color: #888888;
}

.sideBySide {
    display: flex;
    flex-direction: row;
    width: 95%;
    max-width: 500px;
}

.sideBySide a{
    display: block;
    text-decoration: none;
    color: inherit;

    position: relative;
    width: 50%;
    max-width: 500px;
    min-width: 100px;
    min-height: 140px;

    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 12px;
    transition: background-color 1s ease;
    cursor: pointer;
}

.sideBySide a img {
    position: absolute;
    bottom: 0;

    width: 60%;
    min-width: 100px;
    max-width: 120px;

    transform: translateY(100%);
    transition: transform 0.3 cubic-bezier(0.175, 0.9, 0.32, 1.2);
}

.sideBySide a:hover .sideIMG {
    transform: translateY(-5%) scale(1.1);;
}

.creatorButtonWrapper:hover {
    background-color: #ffffff;
}

.creatorButtonText {
    position: absolute;
    z-index: 5;
    right: 5%;
    top: 60%;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;

    color: #ffffff;
    transition: color 0.5s ease;
}

.blueButtonWrapper:hover .creatorButtonText {
    color: #264aff;
}

.magentaButtonWrapper:hover .creatorButtonText {
    color: #e226ff;
}

.creatorButtonWrapper img {
    position: absolute;
    bottom: 0;

    width: 40%;
    min-width: 100px;
    max-width: 120px;

    transform: translateY(100%);
    transition: transform 0.3 cubic-bezier(0.175, 0.9, 0.32, 1.2);
    
}

.firstIMG {
    left: 0%;
    z-index: 1;
    transition: transform 0.3s;
    transition-delay: 0.05s;
}

.lastIMG {
    left: 20%;
    z-index: 1;
    transition: transform 0.3s;
}

.middleIMG {
    z-index: 2;
    transform: translateY(0%) scale(1.1);
    transition: transform 0.4s;
    transition-delay: transform 0.1s;
    left: 10%;
}

.creatorButtonWrapper:hover .sideIMG {
    transform: translateY(-0%);
}

.creatorButtonWrapper:hover .middleIMG {
    transform: translateY(-5%) scale(1.1);;
}