body {
    font-family: 'Bai Jamjuree', sans-serif;
    align-content: center;
}

button {
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    height: 50px;
    width: 50px;
    font-family: 'Bai Jamjuree', sans-serif;
    vertical-align: middle;
    cursor: pointer;
}

input {
    vertical-align: middle;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    border: 1px, solid, #b8afc2;
    width: 350px;
}

.tab button {
  background-color: inherit;
  float:none;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  transition: 0.3s;
}

.tab button.active {
  background-color: #264aff;
  color: #f0f0f0;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent h2 {
    margin-top: 0rem;
}

.tabcontent h3 {
    margin-bottom: 0rem;
}

button:hover {
    background-color: #b8afc2;
}

.partButton {
    background-color: cadetblue;
}

.partButton:hover {
    background-color: darkcyan;
}

button img {
    filter: brightness(0) saturate(100%);
}

button.active img {
    filter: invert(1) brightness(100) saturate(0%);
}