body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.creator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    height: 50px;
    width: 350px;
    font-family: 'Bai Jamjuree', sans-serif;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
    padding: 10px;
}


.button:hover {
    background-color: #b8afc2;
}